<div class="register mb-5 ">


  <div class="text-center p-4 p-md-5">
    <a href="https://<%=Rails.configuration.action_mailer.default_url_options[:host] %>/app/index.html?#!/map/search">
      <img width="200" src="https://res.cloudinary.com/hbwkmonnw/image/asset/logo_sm-b86778747088dd345a129575366132b0.png">
    </a>
  </div>


  <!-- Blanket shown when awaiting for login clbk -->


  <div class="content text-center">
    <h3 class="py-3 mb-3">Un nou loc de parcare</h3>

    <p class="text-muted">
      Locul tău din <%= @space.address_line_1 %> este disponibil pentru închiriat.
    </p>


    <p>
    <h4 style="display: inline-block;border: 1px dashed #ddd;padding: 7px;border-radius: 5px;color:#1d426c">
      <%= @space.target_price %> <%= @space.target_price_currency %> <small> / h </small>
    </h4>

    </p>


    <p class="">
      Perioada : <span class="text-muted"> <%= @space.space_availability_start.strftime '%Y-%m-%d %H:%M' %>
      - <%= @space.space_availability_stop.strftime '%Y-%m-%d %H:%M' %>  </span>
    </p>

    <hr style="border-top: 1px solid #ddd;">
    <p> Asigură-te ca locul de parcare este accesibil si nu ezita sa contactezi șoferul in cazul neprezentării sau
      intârzierii la eliberare. Va stam la dispoziție pentru orice intrebări la office@go-park.ro </p>

    <p>
      <%= link_to 'Click aici pentru detalii',
                  Rails.configuration.action_mailer.default_url_options[:host] +
                      '/app/index.html?#!/map/search/review-bid?spaceId=' + @space.id.to_s %>
    </p>
  </div>

</div>
