<div class="register mb-5 ">


  <div class="text-center p-4 p-md-5">
    <a href="https://<%=Rails.configuration.action_mailer.default_url_options[:host] %>/app/index.html?#!/map/search">
      <img width="200" src="https://res.cloudinary.com/hbwkmonnw/image/asset/logo_sm-b86778747088dd345a129575366132b0.png">
    </a>
  </div>


  <!-- Blanket shown when awaiting for login clbk -->


  <div class="content text-center">
    <h3 class="py-3 mb-3">Rezervare <%= @subject %></h3>
    <%
      start_date = @proposal.user.timezone.utc_to_local(@proposal.start_date)
      end_date = @proposal.user.timezone.utc_to_local(@proposal.end_date)
    %>
    <p class="text-muted">
      Rezervarea din data de <span style="font-size: 1.15em; font-weight: bold" > <%= start_date.strftime '%Y-%m-%d %H:%M' %>  </span> pentru locul de parcare din <%= @proposal.parking_space.address_line_1 %> a fost <%= @subject %>
      <% if @proposal.rejected? %>
        de către echipa go-park.
      <% end %>
    </p>

    <p class="text-muted">
      Dacă a fost achitată, banii vor fi returnați în contul dvs. Pentru mai multe informații contactați-ne la
      office@go-park.ro
    </p>


    <hr style="border-top: 1px solid #ddd;">

    <%= link_to 'Click aici pentru mai multe informații',
                'https://'+Rails.configuration.action_mailer.default_url_options[:host] +
                    '/app/index.html?#!/map/search/review-bid?spaceId=' + @proposal.parking_space.id.to_s %>
    </p>
  </div>

</div>