<div class="register mb-5 ">


  <div class="text-center p-4 p-md-5">
    <a href="https://<%=Rails.configuration.action_mailer.default_url_options[:host] %>/app/index.html?#!/map/search">
      <img width="200" src="https://res.cloudinary.com/hbwkmonnw/image/asset/logo_sm-b86778747088dd345a129575366132b0.png">
    </a>
  </div>

  <div class="content text-center">
    <h3 class="py-3 mb-3">Retragere</h3>

    <p class="text-muted">Suma
      <span style="font-family: monospace; font-weight: bold">
        <%= number_with_precision( @withdrawal.amount, :precision => 2 ) %>
       <%= @withdrawal.account.currency %></span>  va fi transferată in contul tău.
    </p>

    <p>
    </p>
    <p></p>

    <p class="">Sold ramas:
      <span style="font-family: monospace; text-transform: uppercase" class="text-muted ">
         <%= number_with_precision(@withdrawal.account.amount, :precision => 2 ) %>
      </span>
    </p>

    <p class="">IBAN retragere:
      <span class="text-muted" style="font-family: monospace;text-transform: uppercase">
          <%= @withdrawal.iban %>
      </span>
    </p>


    <p>
      <%= link_to 'Click aici pentru detalii',
                  'https://'+Rails.configuration.action_mailer.default_url_options[:host] +
                      '/app/index.html?#!/account/withdrawals'%>
    </p>
  </div>
</div>