<!DOCTYPE html>
<html>
<head>
  <title>Go Park - Parcări smart </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="theme-color" content="#07111c">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="<%= asset_path 'app/manifest.json' %>"/>
  <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>"/>


  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy3JRKga_1LyeTVgWgmnaUZy5rSNcTzvY&libraries=geometry,places&language=ro" type="text/javascript"></script>
  <script async src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
  <script async src="https://js.braintreegateway.com/web/3.31.0/js/client.min.js"></script>
  <script async src="https://js.braintreegateway.com/web/3.31.0/js/payment-request.js"></script>
  <link rel="preload" href="<%= asset_path 'fontawesome-webfont.woff2' %>" as="font" type="font/woff2" crossorigin>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ParkingSpaceMobile">
<noscript>Your browser does not support JavaScript!</noscript>
<!-- Main nav menu -->
<nav id="navbar" class="d-none d-md-flex navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand ml-3" href="#">
    <img width="80" src="<%= image_path 'logo_sm_dark.png' %>"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item text-right active">
        <a ng-click="scrollTo('faq')" class="nav-link px-3">Caută loc</a>
      </li>
      <li class="nav-item text-right">
        <a ui-sref="home.map.search.help" class="nav-link px-3">Cum funcționează?</a>
      </li>
      <li class="nav-item text-right">
        <a href="/?rent" class="nav-link px-3">Cumpără dispozitiv parcare</a>
      </li>
      <li class="nav-item text-right">
        <a href="/#!/business" class="nav-link px-3">Soluții parcări publice </a>
      </li>
    </ul>

    <div class="navbar-form text-right">
      <a ui-sref="home.map.search.myaccount" class="px-4">
        <img src="<%= image_path ('useravatar_blue.png') %>" class="" height="35">
      </a>
    </div>
  </div>
</nav>
<!-- End Main nav menu -->

<div style="min-height: 80vh">
  <ui-view></ui-view>
</div>


<!-- Footer -->

<div class="footer d-none d-md-block" id="footer">
  <div class="row no-gutters align-items-center justify-content-center">
    <div class="col-md-4 ">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-center">
          <a href="#">
            <img width="120" src="<%= image_path 'logo_sm_dark.png' %>">
          </a>
        </div>
        <div class="col-6 parking-list p-3">
          <h4> Parcare București</h4>
          <div class="">
            <p><a href="/">Parcare Aeroport</a></p>
            <p><a href="/">Parcare Sector 1</a></p>
            <p><a href="/">Parcare Sector 2</a></p>
            <p><a href="/">Parcare Centrul Vechi</a></p>
            <p><a href="/">Parcare Victoriei</a></p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 p-3">
      <h5>Asistență</h5>
      <ul>
        <li>
          <i class="fa fa-phone fa-2x"></i>
          <a href="tel:+40727.456.250">&nbsp;&nbsp;
            +40727.456.250
          </a>
        </li>
        <li>
          <i class="fa fa-envelope fa-2x"></i>
          <a href="mailto:office@go-park.ro">&nbsp;&nbsp;
            office@go-park.ro
          </a>
        </li>
      </ul>
      <hr/>
      <div class="text-center">
        <a class="social-lg" href="https://www.facebook.com/softspot.ro/" target="_blank">
          <span class="fa fa-facebook "></span>
        </a>
        <a class="social-lg" href="https://www.facebook.com/softspot.ro/" target="_blank">
          <span class="fa fa-instagram"></span>
        </a>
        <a class="social-lg" href="https://www.facebook.com/softspot.ro/" target="_blank">
          <span class="fa fa-twitter"></span>
        </a>
      </div>
    </div>
    <div class="col-md-4 p-2 contact-form">
      <form method="POST" action="https://formspree.io/office@go-park.ro">
        <div class="form-group">
          <input required type="email" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea required class="form-control" name="message" placeholder="Spune-ne cum te putem ajuta..."></textarea>
        </div>
        <button type="submit" class="btn btn-sm btn-danger">Trimite</button>
      </form>
    </div>
  </div>
</div>
<div class="d-none d-md-flex ending row justify-content-center">
  &copy;&nbsp;<a href="mailto:office@go-park.ro" target="_blank" style="color:#fff"> &nbsp;Softspot &nbsp;</a> 2017. All
  rights reserved
</div>

<!-- end footer -->

</body>
</html>