<!-- Navigation Block -->
<div style="min-height: 80vh" class="d-flex align-items-center justify-content-center flex-column">

  <h2>Schimbă parola</h2>
  <h5 class="text-muted mb-3"> <%= params[:email] %></h5>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put}, class: 'container') do |f| %>


    <%= f.hidden_field :reset_password_token %>

    <div class="text-danger">
      <%= devise_error_messages! %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Parola nouă" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caractere minimum)</em>
      <% end %>
      <br/>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", required: 'require', minlength: 8, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmă noua parolă" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: 'require', minlength: 8, class: 'form-control' %>
    </div>




    <div class="actions">
      <%= f.submit "Schimbă parola", :class => 'btn btn-danger' %>
    </div>

  <% end %>
</div>
