<%= form_for(@terminal) do |f| %>
  <% if @terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% @terminal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :notif_registration_id %><br>
    <%= f.text_field :notif_registration_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
