<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @terminal.email %>
</p>

<p>
  <strong>Notif registration:</strong>
  <%= @terminal.notif_registration_id %>
</p>

<%= link_to 'Edit', edit_terminal_path(@terminal) %> |
<%= link_to 'Back', terminals_path %>
