<!DOCTYPE html>
<html>
<head>
  <title>Go Park</title>
  <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link rel="preload" as="font" type="font/woff2" crossorigin href="<%= asset_path 'fontawesome-webfont.woff2' %>">
  <%= csrf_meta_tags %>

</head>
<body ng-app="ParkingSpaceAdmin" ng-controller="MainCtrl">


<script> window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(ENV['WEBPUSH_PUBLIC_KEY']).bytes %>); </script>
<script> window.cloudinaryName = "<%= ENV['CLOUDINARY_NAME'] %>"; </script>
<script> window.cloudinaryPreset = "<%= ENV['CLOUDINARY_PRESET'] %>"; </script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Parking Manager {{company.short_name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item " ui-sref-active="active">
        <a class="nav-link" ui-sref="locations" href="">Locații
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" ui-sref-active="active">
        <a class="nav-link" ui-sref="users">Utilizatori</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container ">

  <!-- Notification messages -->
  <div class="notification-area animated zoomIn">
    <div class="notification-message error" ng-show="errMsg.length">
      <ul>
        <li ng-repeat="msg in errMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message notification" ng-show="notifMsg.length">
      <ul>
        <li ng-repeat="msg in notifMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsg.length">
      <ul>
        <li ng-repeat="msg in warningMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="notifMsgHtml.length">
      <ul>
        <li ng-repeat="msg in notifMsgHtml">
          <span ng-bind-html="msg"></span>
        </li>
      </ul>
    </div>
  </div>


  <ui-view name="content">
    <div class="d-flex align-items-center flex-column justify-content-around" style="height: 400px">
      <img WIDTH="300" src="<%= image_path 'logosgebs.png' %>">
      <div class="d-flex">
        <div ui-sref="locations" class="m-2 main-link panel d-flex flex-column justify-content-center align-items-center" style="height: 200px">
          <h4> Locatii parcare </h4>
          <img class="img-fluid" style="height:60%" src="<%= image_path 'phone_map_blue.png' %>">
        </div>
        <div ui-sref="users" class="m-2 main-link panel d-flex flex-column justify-content-center align-items-center" style="height: 200px">
          <h4> Utilizatori </h4>
          <img class="img-fluid" style="height:60%" src="<%= image_path 'useravatar_blue_lg.png' %>">
        </div>
      </div>
    </div>
  </ui-view>


</div>

</body>
</html>